:root{background-color:#fff}@media (prefers-color-scheme: dark){:root{background-color:#1a202c;color:#fff}}html{height:100%}body{margin:0;overflow:hidden;height:100%;width:100%;padding:env(safe-area-inset-top,20px) env(safe-area-inset-right,20px) env(safe-area-inset-bottom,20px) env(safe-area-inset-left,20px)}div#root{height:100%;width:100%;background:inherit}*{box-sizing:border-box}
