.tabs {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tab {
    font-weight: 500;
}

.tab-panel {
    padding: 0 var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-sm);
    overflow-y: auto;
}

.tab-panel :global(.rm-section__header) {
    padding: var(--mantine-spacing-sm) 0;
    align-items: center;

    & > div {
        gap: var(--mantine-spacing-xs);
    }
}

.notification {
    margin-top: var(--mantine-spacing-sm);
}